.wrap .content-area {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
}

.wrap .form-area,
.wrap .log-area {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.wrap .form-group {
    margin-bottom: 20px;
}

.wrap input[type="text"],
.wrap input[type="number"],
.wrap select,
.wrap textarea {
    width: 100%;
    padding: 10px;
}

.wrap input[type="submit"] {
    display: block;
    width: auto;
    padding: 10px 15px;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .wrap .content-area {
        grid-template-columns: 1fr;
    }
}

#order-status-form {
    width: 35%;
    float: left;

}

.log-area {
    width: 60%;
    float: left;
    margin-left: 20px;
}

.content-area:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {

    #order-status-form,
    .log-area {
        float: none;
        width: 100%;
        margin-left: 0;
    }
}